<div class="page-header">
  <h3 class="page-title">
    Dynamic Component Load
  </h3>
  <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Charts</a></li>
        <li class="breadcrumb-item active" aria-current="page">ChartJs</li>
      </ol>
    </nav> -->
</div>

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <button (click)="loadBubbleComponent()">Load</button>
            `Bubble Chart`
          </h4>

          <ng-template chartHost></ng-template>


        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <button (click)="loadPieChartComponent()">Load</button>
            `Pie chart`
          </h4>

          <ng-template chartHost></ng-template>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="row">
      <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Bubble chart</h4>
            <bubble-chart></bubble-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Polar Area Chart</h4>
            <polar-area-chart></polar-area-chart>
          </div>
        </div>
      </div>
    </div> -->


  <!-- <div class="row">
      <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Pie chart</h4>
            <pie-chart></pie-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Scatter chart</h4>
            <scatter-chart></scatter-chart>
          </div>
        </div>
      </div>
  
  
  
    </div>
  
  </div> -->
