<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" routerLink="/home">Lazy Loading | Angular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" [routerLink]="['users/deepa/me']">Profile</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" [routerLink]="['dashboard/chartjs']">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" [routerLink]="['load/chart']">Dynamic Load</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Routing placeholder -->
<router-outlet></router-outlet>



<!-- Footer-->
<!-- <footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer> -->
